<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="manageRecipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!manageRecipeForm.valid" type="submit" class="btn btn-success">
            {{editMode ? "Update" : "Add"}}
          </button>
          <button [disabled]="!editMode" type="button" class="btn btn-danger" (click)="onDeleteRecipe()">Delete</button>
          <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input [readOnly]="editMode" type="text" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input type="text" class="form-control" formControlName="imageURL" #imageURL>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <!-- <img [src]="manageRecipeForm.get('imageURL').value" alt="" width="300"> -->
            <img [src]="imageURL.value" alt="" width="300">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" style="margin-top: 10px;" *ngFor="let item of getDefaultIngredients; let i = index"
            [formGroupName]="i">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteRecipeIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>